/* General */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */
.bar{
    position:fixed;
    width:100%;
    z-index:10;
    padding: 20px 100px;
}
.logo{
    height:35px;
}
.bar i{
    float:right;
    cursor:pointer;
}

.bar .bottom{
    color:white;
}
.nav-menu{
    display: none;
    position:absolute;
    width: 300px;
    padding: 10px;
    border-radius:5px;
    background-color:#152238;
    color:white;
    right: 20%;
    top:20%;
    line-height: 2;
    font-size: 1.2em;
    font-weight:700
}
.nav-menu a{
    text-decoration: none;
    color:white;
}
ul{
    list-style-type:none;
}
.nav-menu.active{
    display: inline-block;
}

li a:hover{
    color:#ADD8E6;
}


/* Top Section */
#top{
    display:flex;  
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    margin:auto
}

.intro-header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 15%;
    width:85%;
    height: 70vh;
    text-align:left;
}


video{

    width: 100%;
    opacity: 0.7;
    border-radius: 5px;
}

.typewrite{
    z-index:1;
    font-size: 2em;
    position: absolute;
    color:white;
    left: 10%;
    top: 110%;
    text-decoration: none;
}
.typewrite:hover{
    text-decoration: none;
    color:white;
    cursor:inherit;
}
/* About Me Section */

#about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
}
.aboutme-inner{
    position: relative;
    left: 100px;
    width:80%;
    height:60%;
}

.intro-text{
    display: flex;
    align-items: flex-start;
    justify-content: left;
    font-size: 1.6em;
    font-weight: 700;
}
.intro-text p{
    width: 80%;
}


.collapsible-menu{
    width:50%;
    height:100%;
    font-size:2em;
    text-align:left
}
.collapsible-menu h3{
    color: black;
    background: none;
    border:none;
}
.collapsible-menu h3:hover{
    color:#ADD8E6;
}
.collapsible-menu div{
    font-size: .6em;
    line-height:1.7;
    border:none
}

.collapsible-menu i{
    color: lightslategray;
    opacity: 0.5;
}

.collapse-content{
    font-size: 0.5em;
    line-height:1.5;
}

/* Skills and Hobbies */
#skills-hobbies{
    padding:5%;
}

#skills-hobbies h1{
    font-size:4em;
    font-weight:700;
}

.skills-row{
    width:80%;
    text-align: center;
    margin:70px auto;
}

.skills-row i{
    opacity:0.3;
    color:#152238;
}


/* Quotes Section */

#quotes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:30vh;
}

#yeezy{
    font-style: italic;
    font-weight:100;
    font-size: 1.7em;
    text-align:center;
}

.yeezyCites{
    margin-top:40px;
}

/* Portfolio */

#portfolio{
    padding:5%;
}

#portfolio h1{
    font-size: 4em;
    font-weight: 700;
    text-align: right;
}

.portfolio-right{
    text-align: center;
    width:50%;
}

.portfolio-left{
    text-align: center;
    width:50%;
}

.project{
    position:relative;
    margin: 100px 0;
    height:600px;
}
.square{
    height:90%;
    padding-top:15%;
}

.vert{
    height:110%;
}
.myvideo:hover{
    transform:scale(1.03);
    transition:ease 0.5s;
}


.project p{
    position:relative;
    width: fit-content;
    margin-top: 3%;
    color: #333333;
    font-weight:900;
    font-size: 1.4em;
    letter-spacing: 1.5px;
}

.pvert{
    left:19%;
}

.psquare{
    left:13%;
}

/* Contact Me */

#contact-me{
    background-color:#152238;
    color: white;
    font-weight: 600;
    line-height: 2.5;
    padding:5%;
}
#contact-me h1{
    font-size: 4em;
    font-weight: 700;
}

.contact-me-inner{
    display:flex;
    justify-content: space-evenly;
    background-color:#152238;
    color: white;
    font-weight: 600;
    line-height: 2.5;
    text-align:center;
    padding:5%;

}

.contact-form{
    width:50%;
    text-align:left;
}
.contact-form input{
    width: 300px;
    height: 30px;
    border:none;
    border-radius:5px;
}
.contact-form textarea{
    width: 400px;
    height: 100px;
    border:none;
    border-radius:5px;

}

.contact-media i{
    margin: 40px;
}
.contact-media i:hover{
    transform:scale(1.2);
    transition: 0.5s ease;
}

.fa-twitter:hover{
    color:#ADD8E6;
}

.fa-instagram:hover{
    color:#c32aa3;
}

.fa-pinterest:hover{
    color:#C8232C;
}

.contact-media p{
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 1mm;
}

.address{
    font-weight: 300;
    color: lightslategray;
    font-size: 1.2em;
    margin:20px 60px;
    line-height: 1;
}
@media(max-width:1024px){
    .typewrite{
        font-size:1em;
        top:90vh;
        left: 15vw;
}
#about-me{

    width:100%;
    height:60vh;
}
.aboutme-inner{
    position: initial;
}

@media(max-width:425px){
  
    section{
        padding:0;
    }
    .bar{
        padding: 20px 90px 20px 20px;}
    .nav-menu{
        font-size:2vw;
        width:30vw;
        right:40%;
        padding:5px;
    }    

        .intro-header{
            height:40vh;
            width:100%;
        }    

    .intro-header h1{
        font-size:1.7vh;
        width:100%;
    }
    .typewrite{
        font-size:0.5em;
        top: 50vh;
        left: 15vw;
    }    
    #about-me{
        height:fit-content;
        width:100%;
        margin: 50px 0;
    }
    .aboutme-inner{
        position: initial;
    }
    .intro-text p{
        width: 100%;
        font-size:0.5em;
        margin-top:3%;
    }
    .collapsible-menu{
        width:100%;
        font-size:1.2em;
    }
    .skills-row{
        width:100%;

    }
    .skills-row i{
        font-size: 12vw;
    }
    h5{
        font-size:3vw;
        margin-top:5px;
    }
    #quotes{
        margin:5vh 0;
    }

    #portfolio{
        height:fit-content
    }
    .portfolio-right{
        width:100%;

    }
    .portfolio-left{
        width:100%;

    }
    .project{
        position:relative;
        margin: 50px 0;
        height:400px;
    }
    .square{
        height:60%;
        padding-top:0;
    }
    
    .vert{
        height:90%;
    }
    .pvert{
        left:0%;
    }
    #contact-me{
        display: flex;
        flex-direction: column;
        margin-top:10%;
        width:100%;
    }
    .contact-me-inner{
        display: flex;
        flex-direction: column;
        font-size:2vw;
    }
    .contact-form textarea{
        width: 200px;
        height: 50px;
}
.btn{
    transform: scale(0.7);
}
.contact-form input{
    width: 200px;
}
#skills-hobbies h1{
    font-size:2em;
}
#portfolio h1{
    font-size: 2em;
}
#contact-me h1{
    font-size: 2em;
}
